
<div class="container">
    <div class="row">
<table class="table-fixed">
    <thead>
        <th  *ngFor="let hd of heads">
          
          {{hd}}
             </th>
      </thead>
    <tbody>
  <tr *ngFor="let emp of sampleData | paginate: {itemsPerPage: pageSize, currentPage: p}; let i =index; ">
    <td>{{emp.name}}</td>
    <td>{{emp.phone}}</td>
    <td>{{emp.email}}</td>
    <td> {{emp.company }} </td>
    <td> {{emp.date_entry}} </td>
    <td> {{emp.org_num }} </td>
    <td> {{emp.address_1}} </td>
    <td> {{emp.city}} </td>
    <td> {{emp.zip}} </td>
    <td> {{emp.geo}} </td>
    <td> {{emp.pan}} </td>
    <td> {{emp.pin}} </td>
    <td> {{emp.id}} </td>
    <td> {{emp.status}} </td>
    <td> {{emp.fee}} </td>
    <td> {{emp.guid}} </td>
    <td> {{emp.date_exit}} </td>
    <td> {{emp.date_first}} </td>
    <td> {{emp.date_recent}} </td>
    <td> {{emp.url}} </td>
    <td><button type="submit" (click)="onSubmit(emp)">Submit</button></td>
  </tr>
  </tbody>
</table>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="footer">
<pagination-controls (pageChange)="p = $event" maxSize="9" previousLabel="Previous"
nextLabel="Next"
 class="ngx-pagination">
</pagination-controls>
<div class="itemsPerPage">
<label> Items Per Page </label>
<select id="PerPage" class="form-control" [(ngModel)]="pageSize">
  <option [ngValue]="25">25</option>
  <option [ngValue]="50">50</option>
  <option [ngValue]="100">100</option>
</select>
</div>
</div>




